:root {
    --main-bg-color: #fffcf8;
    --main-accent-color: #675a4c;
}

html {
    font-family: Times, serif;
    font-weight: 200;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: #49361c;
    background-color: var(--main-bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-family: sans-serif;
}

a, a:active, a:visited{
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

h2, h3 {
    font-family: sans-serif;
    font-weight: 200;
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 10px 0 10px 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}